# Node.js dependencies
node_modules/
package-lock.json
yarn.lock
.parcel-cache/


# Build outputs
dist/
build/

# Cache files
.cache/

# Logs
npm-debug.log
yarn-error.log

# Environment variables
.env
.env.local  this is my git ignore file